# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Sean Johnsen
	email = seanjohnsen96@gmail.com
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore
